@import "reset.styl"
@import "variables.styl"
@import "minix.styl"
.default-wallpaper
  width: 100vw
  height: 100vh
::-webkit-scrollbar-thumb
  background red
::-webkit-scrollbar-track
  background seagreen
html::-webkit-scrollbar-thumb
  background red
html::-webkit-scrollbar-track
  background seagreen
